# Premier table

https://www.premierleague.com/tables

In [1]:
from selenium import webdriver
import pandas as pd
import requests

import requests
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [2]:
#mainTableTab active
driver =  webdriver.Chrome()
driver.get('http://stats.nba.com/teams/traditional/?sort=PTS&dir=-1')

In [17]:
table = driver.find_elements_by_xpath('//*[@class="nba-stat-table"]')[0]
# table.find_elements_by_css_selector("td")[3].text

In [18]:
table_list = table.text.split(" ")
table_list

['TEAM',
 'GP',
 'W',
 'L',
 'WIN%',
 'MIN',
 'PTS',
 'FGM',
 'FGA',
 'FG%',
 '3PM',
 '3PA',
 '3P%',
 'FTM',
 'FTA',
 'FT%',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'TOV',
 'STL',
 'BLK',
 'BLKA',
 'PF',
 'PFD',
 '+/-\n1\nGolden',
 'State',
 'Warriors\n63',
 '49',
 '14',
 '.778',
 '48.2',
 '116.1',
 '43.5',
 '85.0',
 '51.2',
 '11.8',
 '29.8',
 '39.7',
 '17.3',
 '21.3',
 '81.2',
 '8.4',
 '35.6',
 '44.0',
 '30.5',
 '15.9',
 '8.1',
 '7.8',
 '3.5',
 '19.8',
 '18.7',
 '8.5\n2\nHouston',
 'Rockets\n62',
 '49',
 '13',
 '.790',
 '48.2',
 '114.0',
 '39.0',
 '84.4',
 '46.2',
 '15.5',
 '42.6',
 '36.5',
 '20.5',
 '25.9',
 '79.1',
 '9.2',
 '34.3',
 '43.5',
 '21.8',
 '13.9',
 '8.8',
 '4.6',
 '4.6',
 '19.8',
 '20.7',
 '8.8\n3\nNew',
 'Orleans',
 'Pelicans\n61',
 '35',
 '26',
 '.574',
 '48.9',
 '112.1',
 '42.3',
 '87.7',
 '48.2',
 '10.6',
 '29.2',
 '36.2',
 '17.0',
 '22.3',
 '76.3',
 '8.7',
 '35.1',
 '43.9',
 '26.4',
 '15.3',
 '7.8',
 '5.5',
 '4.2',
 '19.4',
 '21.2',
 '0.4\n4\nToronto',
 'Raptors\n61',
 '44',
 '17',
 '.721',
 '48.2',
 '112.1',
 '41.3',
 '87.5',
 '47.2',
 '11.6',
 '32.5',
 '35.7',
 '17.9',
 '22.4',
 '79.8',
 '9.5',
 '33.8',
 '43.4',
 '23.7',
 '13.2',
 '8.2',
 '6.0',
 '4.9',
 '22.0',
 '20.1',
 '8.7\n5\nCleveland',
 'Cavaliers\n62',
 '36',
 '26',
 '.581',
 '48.2',
 '110.0',
 '40.0',
 '84.3',
 '47.4',
 '11.9',
 '32.6',
 '36.6',
 '18.2',
 '23.2',
 '78.4',
 '8.4',
 '33.7',
 '42.0',
 '23.5',
 '14.1',
 '7.0',
 '3.8',
 '4.1',
 '18.8',
 '20.8',
 '0.0\n6\nMinnesota',
 'Timberwolves\n66',
 '38',
 '28',
 '.576',
 '48.3',
 '109.7',
 '41.1',
 '85.7',
 '47.9',
 '7.9',
 '22.3',
 '35.6',
 '19.7',
 '24.5',
 '80.3',
 '10.3',
 '31.5',
 '41.8',
 '22.6',
 '12.5',
 '8.6',
 '4.3',
 '4.6',
 '18.0',
 '20.9',
 '2.7\n7\nLA',
 'Clippers\n61',
 '33',
 '28',
 '.541',
 '48.1',
 '108.9',
 '39.9',
 '85.1',
 '46.9',
 '10.0',
 '28.4',
 '35.2',
 '19.1',
 '25.3',
 '75.7',
 '9.9',
 '33.9',
 '43.8',
 '22.4',
 '14.9',
 '7.9',
 '4.9',
 '5.3',
 '20.4',
 '22.3',
 '1.1\n8\nDenver',
 'Nuggets\n63',
 '35',
 '28',
 '.556',
 '48.2',
 '108.7',
 '40.5',
 '86.2',
 '47.0',
 '11.2',
 '30.4',
 '36.7',
 '16.5',
 '21.7',
 '76.2',
 '11.1',
 '32.9',
 '44.1',
 '24.7',
 '15.2',
 '7.9',
 '4.6',
 '4.9',
 '18.4',
 '20.2',
 '1.1\n9\nLos',
 'Angeles',
 'Lakers\n62',
 '28',
 '34',
 '.452',
 '48.6',
 '108.4',
 '41.2',
 '89.3',
 '46.2',
 '9.7',
 '28.2',
 '34.5',
 '16.2',
 '23.1',
 '70.1',
 '11.0',
 '35.4',
 '46.5',
 '23.9',
 '16.0',
 '8.1',
 '4.8',
 '5.7',
 '21.5',
 '20.3',
 '-1.6\n10\nPhiladelphia',
 '76ers\n61',
 '34',
 '27',
 '.557',
 '48.3',
 '107.5',
 '39.7',
 '85.3',
 '46.5',
 '10.4',
 '28.8',
 '36.0',
 '17.8',
 '23.4',
 '75.9',
 '11.0',
 '35.8',
 '46.8',
 '25.6',
 '17.1',
 '8.2',
 '4.9',
 '5.3',
 '22.4',
 '20.9',
 '2.1\n11\nWashington',
 'Wizards\n63',
 '36',
 '27',
 '.571',
 '48.3',
 '107.1',
 '40.1',
 '85.8',
 '46.8',
 '9.8',
 '26.5',
 '37.0',
 '17.1',
 '22.1',
 '77.2',
 '10.0',
 '33.0',
 '43.0',
 '24.7',
 '14.4',
 '8.0',
 '4.4',
 '4.7',
 '21.7',
 '20.4',
 '1.6\n12\nIndiana',
 'Pacers\n62',
 '35',
 '27',
 '.565',
 '48.2',
 '106.7',
 '41.1',
 '86.0',
 '47.9',
 '9.1',
 '24.6',
 '37.0',
 '15.3',
 '19.9',
 '77.1',
 '9.3',
 '33.1',
 '42.4',
 '22.5',
 '13.5',
 '8.5',
 '4.2',
 '5.2',
 '18.9',
 '18.7',
 '1.5\n13\nCharlotte',
 'Hornets\n63',
 '28',
 '35',
 '.444',
 '48.2',
 '106.6',
 '38.6',
 '86.7',
 '44.5',
 '10.0',
 '27.0',
 '37.0',
 '19.4',
 '26.5',
 '73.2',
 '10.2',
 '35.0',
 '45.3',
 '21.4',
 '12.7',
 '7.0',
 '4.6',
 '5.0',
 '17.8',
 '22.2',
 '-0.2\n14\nOklahoma',
 'City',
 'Thunder\n65',
 '37',
 '28',
 '.569',
 '48.4',
 '106.6',
 '39.8',
 '87.9',
 '45.2',
 '10.4',
 '29.8',
 '34.8',
 '16.6',
 '23.4',
 '71.0',
 '12.7',
 '32.4',
 '45.1',
 '21.2',
 '14.1',
 '8.9',
 '5.0',
 '4.7',
 '20.1',
 '21.0',
 '2.8\n15\nOrlando',
 'Magic\n63',
 '20',
 '43',
 '.317',
 '48.2',
 '105.8',
 '39.6',
 '85.6',
 '46.2',
 '10.5',
 '29.3',
 '36.0',
 '16.2',
 '21.3',
 '76.0',
 '8.8',
 '32.6',
 '41.3',
 '23.6',
 '14.7',
 '7.5',
 '4.9',
 '5.0',
 '19.7',
 '19.3',
 '-4.2\n16\nBrooklyn',
 'Nets\n63',
 '20',
 '43',
 '.317',
 '48.5',
 '105.6',
 '38.0',
 '87.0',
 '43.6',
 '12.2',
 '35.1',
 '34.7',
 '17.4',
 '22.6',
 '77.1',
 '10.1',
 '35.1',
 '45.1',
 '23.0',
 '15.4',
 '6.1',
 '4.2',
 '5.7',
 '20.6',
 '19.7',
 '-4.1\n17\nPortland',
 'Trail',
 'Blazers\n63',
 '37',
 '26',
 '.587',
 '48.2',
 '105.2',
 '39.2',
 '86.6',
 '45.2',
 '10.2',
 '27.1',
 '37.5',
 '16.7',
 '20.9',
 '80.1',
 '9.9',
 '35.1',
 '45.0',
 '19.1',
 '13.9',
 '7.0',
 '5.1',
 '5.2',
 '19.6',
 '19.1',
 '1.8\n18\nMilwaukee',
 'Bucks\n62',
 '33',
 '29',
 '.532',
 '48.3',
 '104.7',
 '38.7',
 '81.5',
 '47.5',
 '8.6',
 '24.6',
 '35.1',
 '18.7',
 '24.0',
 '77.8',
 '8.1',
 '31.4',
 '39.5',
 '22.2',
 '13.8',
 '8.4',
 '5.4',
 '4.2',
 '21.7',
 '20.0',
 '-0.5\n19\nPhoenix',
 'Suns\n64',
 '19',
 '45',
 '.297',
 '48.1',
 '104.5',
 '38.4',
 '87.1',
 '44.1',
 '9.2',
 '27.5',
 '33.3',
 '18.5',
 '24.7',
 '74.9',
 '10.7',
 '33.5',
 '44.2',
 '21.0',
 '15.5',
 '6.8',
 '4.6',
 '5.8',
 '22.6',
 '21.7',
 '-8.6\n20\nBoston',
 'Celtics\n64',
 '44',
 '20',
 '.688',
 '48.2',
 '104.4',
 '38.4',
 '85.3',
 '45.0',
 '11.8',
 '31.4',
 '37.5',
 '15.8',
 '20.5',
 '77.0',
 '9.1',
 '35.1',
 '44.2',
 '22.3',
 '13.7',
 '7.1',
 '4.7',
 '4.4',
 '20.4',
 '18.9',
 '4.1\n21\nNew',
 'York',
 'Knicks\n63',
 '24',
 '39',
 '.381',
 '48.4',
 '104.2',
 '40.3',
 '86.8',
 '46.4',
 '7.9',
 '22.3',
 '35.3',
 '15.8',
 '19.9',
 '79.2',
 '10.5',
 '33.6',
 '44.1',
 '22.9',
 '15.2',
 '6.8',
 '5.3',
 '4.8',
 '20.3',
 '19.2',
 '-2.9\n22\nAtlanta',
 'Hawks\n63',
 '19',
 '44',
 '.302',
 '48.1',
 '103.6',
 '38.1',
 '85.1',
 '44.8',
 '10.9',
 '30.2',
 '36.1',
 '16.5',
 '20.8',
 '79.3',
 '9.3',
 '31.6',
 '40.9',
 '23.6',
 '15.5',
 '8.1',
 '4.4',
 '5.3',
 '19.9',
 '20.8',
 '-4.5\n23\nChicago',
 'Bulls\n62',
 '21',
 '41',
 '.339',
 '48.6',
 '103.3',
 '38.9',
 '88.8',
 '43.8',
 '10.9',
 '30.5',
 '35.7',
 '14.6',
 '19.2',
 '76.2',
 '9.3',
 '35.6',
 '44.9',
 '23.5',
 '13.8',
 '7.1',
 '3.8',
 '4.9',
 '19.1',
 '17.6',
 '-6.1\n24\nDetroit',
 'Pistons\n63',
 '29',
 '34',
 '.460',
 '48.2',
 '103.1',
 '38.9',
 '86.8',
 '44.8',
 '10.5',
 '28.4',
 '36.9',
 '14.7',
 '19.8',
 '74.6',
 '10.3',
 '32.9',
 '43.2',
 '22.6',
 '13.7',
 '7.6',
 '3.6',
 '5.0',
 '18.7',
 '18.4',
 '-0.9\n25\nUtah',
 'Jazz\n63',
 '33',
 '30',
 '.524',
 '48.2',
 '102.8',
 '37.7',
 '82.7',
 '45.6',
 '10.8',
 '29.2',
 '36.9',
 '16.6',
 '20.9',
 '79.2',
 '8.7',
 '33.6',
 '42.3',
 '21.4',
 '14.5',
 '8.7',
 '4.8',
 '4.5',
 '19.6',
 '20.2',
 '1.5\n26\nSan',
 'Antonio',
 'Spurs\n63',
 '36',
 '27',
 '.571',
 '48.0',
 '102.4',
 '38.9',
 '84.8',
 '45.9',
 '8.7',
 '24.5',
 '35.5',
 '15.8',
 '20.4',
 '77.5',
 '10.2',
 '34.2',
 '44.4',
 '22.9',
 '13.5',
 '7.4',
 '5.6',
 '3.6',
 '17.0',
 '19.6',
 '3.0\n27\nDallas',
 'Mavericks\n63',
 '19',
 '44',
 '.302',
 '48.2',
 '102.1',
 '37.9',
 '85.1',
 '44.6',
 '11.8',
 '32.6',
 '36.3',
 '14.4',
 '18.8',
 '76.8',
 '7.8',
 '32.7',
 '40.5',
 '22.5',
 '12.4',
 '7.2',
 '3.8',
 '4.4',
 '19.4',
 '20.2',
 '-2.7\n28\nMiami',
 'Heat\n63',
 '33',
 '30',
 '.524',
 '48.2',
 '101.4',
 '37.9',
 '83.7',
 '45.3',
 '10.9',
 '30.5',
 '35.8',
 '14.7',
 '19.5',
 '75.2',
 '9.2',
 '33.7',
 '42.9',
 '21.9',
 '14.7',
 '7.3',
 '5.2',
 '4.7',
 '19.9',
 '19.3',
 '-0.6\n29\nSacramento',
 'Kings\n63',
 '19',
 '44',
 '.302',
 '48.2',
 '99.2',
 '38.9',
 '85.8',
 '45.3',
 '9.0',
 '23.4',
 '38.3',
 '12.4',
 '17.0',
 '73.1',
 '9.5',
 '31.0',
 '40.4',
 '21.3',
 '14.1',
 '8.3',
 '4.1',
 '4.6',
 '19.8',
 '17.5',
 '-8.0\n30\nMemphis',
 'Grizzlies\n62',
 '18',
 '44',
 '.290',
 '48.1',
 '98.9',
 '36.2',
 '81.9',
 '44.2',
 '9.2',
 '26.3',
 '34.8',
 '17.4',
 '21.8',
 '79.6',
 '9.4',
 '31.3',
 '40.7',
 '21.3',
 '15.0',
 '7.5',
 '5.0',
 '5.3',
 '23.6',
 '20.8',
 '-4.7\nTEAM\n1\nGolden',
 'State',
 'Warriors\n2\nHouston',
 'Rockets\n3\nNew',
 'Orleans',
 'Pelicans\n4\nToronto',
 'Raptors\n5\nCleveland',
 'Cavaliers\n6\nMinnesota',
 'Timberwolves\n7\nLA',
 'Clippers\n8\nDenver',
 'Nuggets\n9\nLos',
 'Angeles',
 'Lakers\n10\nPhiladelphia',
 '76ers\n11\nWashington',
 'Wizards\n12\nIndiana',
 'Pacers\n13\nCharlotte',
 'Hornets\n14\nOklahoma',
 'City',
 'Thunder\n15\nOrlando',
 'Magic\n16\nBrooklyn',
 'Nets\n17\nPortland',
 'Trail',
 'Blazers\n18\nMilwaukee',
 'Bucks\n19\nPhoenix',
 'Suns\n20\nBoston',
 'Celtics\n21\nNew',
 'York',
 'Knicks\n22\nAtlanta',
 'Hawks\n23\nChicago',
 'Bulls\n24\nDetroit',
 'Pistons\n25\nUtah',
 'Jazz\n26\nSan',
 'Antonio',
 'Spurs\n27\nDallas',
 'Mavericks\n28\nMiami',
 'Heat\n29\nSacramento',
 'Kings\n30\nMemphis',
 'Grizzlies']

In [63]:
table_list[10:17]

['27', '23', '3', '1', '79', '20', '+59']

In [64]:
table_list[18:25]

['28', '16', '9', '3', '65', '32', '+33']

In [65]:
table_list[27:34]

['27', '17', '5', '5', '51', '19', '+32']

In [16]:
len(table_list)

127

In [21]:
team_list = []
for i in range(7, len(table_list), 6):
    team_list.append(table_list[i:i+5])
    
team_list

[['27', '23', '3', '1', '+59'],
 ['28', '16', '9', '3', '+33'],
 ['27', '17', '5', '5', '+32'],
 ['27', '16', '5', '6', '+26'],
 ['27', '15', '7', '5', '+28'],
 ['27', '13', '6', '8', '+15'],
 ['28', '9', '10', '9', '-3'],
 ['28', '9', '9', '10', '-1'],
 ['28', '9', '7', '12', '-15'],
 ['28', '9', '6', '13', '-9'],
 ['28', '8', '8', '12', '-10'],
 ['28', '7', '10', '11', '-11'],
 ['28', '7', '9', '12', '-15'],
 ['28', '8', '6', '14', '-23'],
 ['28', '7', '8', '13', '-11'],
 ['28', '5', '12', '11', '-12'],
 ['27', '6', '9', '12', '-17'],
 ['28', '7', '6', '15', '-20'],
 ['28', '6', '8', '14', '-26'],
 ['28', '3', '11', '14', '-20']]

In [22]:
team_name = []
for i in range(6, len(table_list)-1, 6):
    team_name.append(table_list[i][-3:])
    
team_name

['MCI',
 'LIV',
 'MUN',
 'CHE',
 'TOT',
 'ARS',
 'BUR',
 'LEI',
 'EVE',
 'WAT',
 'BOU',
 'BHA',
 'WHU',
 'HUD',
 'NEW',
 'SOU',
 'CRY',
 'SWA',
 'STK',
 'WBA']

In [23]:
team_point = []
for i in range(12, len(table_list), 6):
    team_point.append(table_list[i][:2])
    
team_point

['72',
 '57',
 '56',
 '53',
 '52',
 '45',
 '37',
 '36',
 '34',
 '33',
 '32',
 '31',
 '30',
 '30',
 '29',
 '27',
 '27',
 '27',
 '26',
 '20']

In [24]:
for i in range(20):
    team_list[i].append(team_point[i])
team_list

[['27', '23', '3', '1', '+59', '72'],
 ['28', '16', '9', '3', '+33', '57'],
 ['27', '17', '5', '5', '+32', '56'],
 ['27', '16', '5', '6', '+26', '53'],
 ['27', '15', '7', '5', '+28', '52'],
 ['27', '13', '6', '8', '+15', '45'],
 ['28', '9', '10', '9', '-3', '37'],
 ['28', '9', '9', '10', '-1', '36'],
 ['28', '9', '7', '12', '-15', '34'],
 ['28', '9', '6', '13', '-9', '33'],
 ['28', '8', '8', '12', '-10', '32'],
 ['28', '7', '10', '11', '-11', '31'],
 ['28', '7', '9', '12', '-15', '30'],
 ['28', '8', '6', '14', '-23', '30'],
 ['28', '7', '8', '13', '-11', '29'],
 ['28', '5', '12', '11', '-12', '27'],
 ['27', '6', '9', '12', '-17', '27'],
 ['28', '7', '6', '15', '-20', '27'],
 ['28', '6', '8', '14', '-26', '26'],
 ['28', '3', '11', '14', '-20', '20']]

In [53]:
pi = [team_list[i][0] for i in range(20)]
w = [team_list[i][1] for i in range(20)]
d = [team_list[i][2] for i in range(20)]
l = [team_list[i][3] for i in range(20)]
gd = [team_list[i][4] for i in range(20)]
pts = [team_list[i][5] for i in range(20)]

In [58]:
df= pd.DataFrame(columns = ["Name", "PI", "W", "D", "W", "L", "GD", "Pts"])
df["Name"] = team_name
df["PI"] = pi
df["W"] = w
df["D"] = d
df["L"] = l
df["GD"] = gd
df["Pts"] = pts
df

   Name  PI   W   D   W   L   GD Pts
0   MCI  27  23   3  23   1  +59  72
1   LIV  28  16   9  16   3  +33  57
2   MUN  27  17   5  17   5  +32  56
3   CHE  27  16   5  16   6  +26  53
4   TOT  27  15   7  15   5  +28  52
5   ARS  27  13   6  13   8  +15  45
6   BUR  28   9  10   9   9   -3  37
7   LEI  28   9   9   9  10   -1  36
8   EVE  28   9   7   9  12  -15  34
9   WAT  28   9   6   9  13   -9  33
10  BOU  28   8   8   8  12  -10  32
11  BHA  28   7  10   7  11  -11  31
12  WHU  28   7   9   7  12  -15  30
13  HUD  28   8   6   8  14  -23  30
14  NEW  28   7   8   7  13  -11  29
15  SOU  28   5  12   5  11  -12  27
16  CRY  27   6   9   6  12  -17  27
17  SWA  28   7   6   7  15  -20  27
18  STK  28   6   8   6  14  -26  26
19  WBA  28   3  11   3  14  -20  20

In [1]:
def PremierLeague2(number=20):

    driver = webdriver.Chrome()
    driver.get("https://www.premierleague.com/tables")
    contents = driver.find_elements_by_css_selector("#mainContent .tableBodyContainer tr:not(.expandable)")[:number]
   
    df = pd.DataFrame(columns=["Position", "Club", "Played", "Won", "Drawn", "Lost", "GF", "GA", "GD", "Points"])
    
    for content in contents:
        
        Position = content.find_element_by_css_selector(".value").text 
        Club = content.find_element_by_css_selector(".team .long").text
        Played = content.find_elements_by_css_selector("td")[3].text #td:nth-child(4)
        Won = content.find_elements_by_css_selector("td")[4].text
        Drawn = content.find_elements_by_css_selector("td")[5].text
        Lost = content.find_elements_by_css_selector("td")[6].text
        GF = content.find_elements_by_css_selector("td")[7].text
        GA = content.find_elements_by_css_selector("td")[8].text
        GD = content.find_elements_by_css_selector("td")[9].text
        Points = content.find_elements_by_css_selector("td")[10].text
        
        data = {"Position": Position,
                "Club": Club, 
                "Played": Played,
                "Won": Won, 
                "Drawn": Drawn, 
                "Lost" : Lost,
                "GF" : GF,
                "GA" : GA,
                "GD" : GD,
                "Points" : Points}
        
        df.loc[len(df)] = data
    driver.close()
    return df

In [4]:
PremierLeague2()

,Position,Club,Played,Won,Drawn,Lost,GF,GA,GD,Points
0,1,Manchester City,27,23,3,1,79,20,+59,72
1,2,Manchester United,28,18,5,5,53,20,+33,59
2,3,Liverpool,28,16,9,3,65,32,+33,57
3,4,Tottenham Hotspur,28,16,7,5,53,24,+29,55
4,5,Chelsea,28,16,5,7,50,25,+25,53
5,6,Arsenal,27,13,6,8,51,36,+15,45
6,7,Burnley,28,9,10,9,22,25,-3,37
7,8,Leicester City,28,9,9,10,40,41,-1,36
8,9,Everton,28,9,7,12,32,47,-15,34
9,10,Watford,28,9,6,13,38,47,-9,33
10,11,Bournemouth,28,8,8,12,33,43,-10,32
11,12,Brighton and Hove Albion,28,7,10,11,26,37,-11,31
12,13,West Ham United,28,7,9,12,35,50,-15,30
13,14,Huddersfield Town,28,8,6,14,25,48,-23,30
14,15,Newcastle United,28,7,8,13,27,38,-11,29
15,16,Southampton,28,5,12,11,29,41,-12,27
16,17,Crystal Palace,28,6,9,13,25,43,-18,27
17,18,Swansea City,28,7,6,15,21,41,-20,27
18,19,Stoke City,28,6,8,14,28,54,-26,26
19,20,West Bromwich Albion,28,3,11,14,22,42,-20,20

In [3]:
def PremierLeague3():
    
    r = requests.get('https://www.premierleague.com/tables')
    rt = TextResponse(r.url, body=r.text, encoding='utf-8')
    mrt = rt.xpath('//*[@class="tableBodyContainer"]')
    contents = mrt[0].xpath("tr[@class != 'expandable']")

    df = pd.DataFrame(columns=["Position", "Club", "Played", "Won", "Drawn", "Lost", "GF", "GA", "GD", "Points"])
    
    for content in contents:
        
        Position = content.xpath('td[2]/span[1]/text()').extract()[0]
        Club = content.xpath('td[3]/a/span[2]/text()').extract()[0]
        Played = content.xpath('td[4]/text()').extract()[0]
        Won = content.xpath('td[5]/text()').extract()[0]
        Drawn = content.xpath('td[6]/text()').extract()[0]
        Lost = content.xpath('td[7]/text()').extract()[0]
        GF = content.xpath('td[8]/text()').extract()[0]
        GA = content.xpath('td[9]/text()').extract()[0]
        GD = content.xpath('td[10]/text()').extract()[0].strip()
        Points = content.xpath('td[11]/text()').extract()[0]
        
        data = {"Position" : Position,
                "Club" : Club, 
                "Played" : Played,
                "Won" : Won,
                "Drawn" : Drawn,
                "Lost" : Lost,
                "GF" : GF,
                "GA" : GA,
                "GD" : GD,
                "Points" : Points}

        df.loc[len(df)] = data
    return df

In [10]:
import requests
from scrapy.http import TextResponse

In [11]:
PremierLeague3()

,Position,Club,Played,Won,Drawn,Lost,GF,GA,GD,Points
0,1,Manchester City,27,23,3,1,79,20,+59,72
1,2,Manchester United,28,18,5,5,53,20,+33,59
2,3,Liverpool,28,16,9,3,65,32,+33,57
3,4,Tottenham Hotspur,28,16,7,5,53,24,+29,55
4,5,Chelsea,28,16,5,7,50,25,+25,53
5,6,Arsenal,27,13,6,8,51,36,+15,45
6,7,Burnley,28,9,10,9,22,25,-3,37
7,8,Leicester City,28,9,9,10,40,41,-1,36
8,9,Everton,28,9,7,12,32,47,-15,34
9,10,Watford,28,9,6,13,38,47,-9,33
10,11,Bournemouth,28,8,8,12,33,43,-10,32
11,12,Brighton and Hove Albion,28,7,10,11,26,37,-11,31
12,13,West Ham United,28,7,9,12,35,50,-15,30
13,14,Huddersfield Town,28,8,6,14,25,48,-23,30
14,15,Newcastle United,28,7,8,13,27,38,-11,29
15,16,Southampton,28,5,12,11,29,41,-12,27
16,17,Crystal Palace,28,6,9,13,25,43,-18,27
17,18,Swansea City,28,7,6,15,21,41,-20,27
18,19,Stoke City,28,6,8,14,28,54,-26,26
19,20,West Bromwich Albion,28,3,11,14,22,42,-20,20

In [20]:
number = 30

driver = webdriver.Chrome()
driver.get("http://stats.nba.com/teams/traditional/?sort=PTS&dir=-1")
contents = driver.find_elements_by_css_selector("#nba-stat-table tbody")
   
df = pd.DataFrame(columns=["RANK", "TEAM", "GP", "W", "L", "WIN%", "MIN", "PTS", "FGM", "FGA"])
    
for content in contents:
        
    Position = content.find_element_by_css_selector(".value").text 
    Club = content.find_element_by_css_selector(".team .long").text
    Played = content.find_elements_by_css_selector("td")[3].text #td:nth-child(4)
    Won = content.find_elements_by_css_selector("td")[4].text
    Drawn = content.find_elements_by_css_selector("td")[5].text
    Lost = content.find_elements_by_css_selector("td")[6].text
    GF = content.find_elements_by_css_selector("td")[7].text
    GA = content.find_elements_by_css_selector("td")[8].text
    GD = content.find_elements_by_css_selector("td")[9].text
    Points = content.find_elements_by_css_selector("td")[10].text
        
    data = {"Position": Position,
                "Club": Club, 
                "Played": Played,
                "Won": Won, 
                "Drawn": Drawn, 
                "Lost" : Lost,
                "GF" : GF,
                "GA" : GA,
                "GD" : GD,
                "Points" : Points}
        
    df.loc[len(df)] = data

df

   Position               Club Played Won Drawn Lost  GF  GA   GD Points
0         1    Manchester City     28  24     3    1  82  20  +62     75
1         2          Liverpool     29  17     9    3  67  32  +35     60
2         3  Manchester United     28  18     5    5  53  20  +33     59
3         4  Tottenham Hotspur     29  17     7    5  55  24  +31     58
4         5            Chelsea     28  16     5    7  50  25  +25     53
5         6            Arsenal     28  13     6    9  51  39  +12     45
6         7            Burnley     29  10    10    9  24  26   -2     40
7         8     Leicester City     29   9    10   10  41  42   -1     37
8         9            Watford     29  10     6   13  39  47   -8     36
9        10            Everton     29   9     7   13  33  49  -16     34
10       11        Bournemouth     29   8     9   12  34  44  -10     33
11       12                        28   7    10   11          -11     31
12       13                        29   8     6   15          -17     30
13       14                        29   7     9   13          -18     30
14       15                        29   8     6   15          -25     30
15       16                        29   7     8   14          -13     29
16       17                        29   5    13   11          -12     28
17       18                        28   6     9   13          -18     27
18       19                        29   6     9   14          -26     27
19       20                        29   3    11   15          -21     20