In [6]:
import numpy as np
import pandas as pd

In [7]:
#Name : A, B, C, D, E
#Points : random 60 - 100
#create DataFrame

In [17]:
np.random.seed(1)
df = pd.DataFrame(columns = ["Name", "Points"])
df["Name"] = ["A", "B", "C", "D", "E"] #or list("ABCDE")
df["Points"] = np.random.randint(60, 100, size = 5)
df

  Name  Points
0    A      97
1    B      72
2    C      68
3    D      69
4    E      71

In [22]:
def  chg(point):
    if point >= 90:
        return 'A'
    elif point >= 80:
        return 'B'
    elif point >= 70:
        return 'C'
    elif point >= 60:
        return 'D'
    elif point >= 70:
        return 'F'

df["result"] = df["Points"].apply(chg)
df

  Name  Points result
0    A      97      A
1    B      72      C
2    C      68      D
3    D      69      D
4    E      71      C

In [24]:
df.to_csv('foo.csv', index = False)
df_e = pd.read_csv('foo.csv')
df_e

  Name  Points result
0    A      97      A
1    B      72      C
2    C      68      D
3    D      69      D
4    E      71      C