In [1]:
import numpy as np
import pandas as pd

In [7]:
#Name : A, B, C, D, E
#Points : random 60 - 100
#create DataFrame

In [11]:
np.random.seed(2)
df = pd.DataFrame(columns = ["Name", "Points"])
df["Name"] = ["A", "B", "C", "D", "E"] #or list("ABCDE")
df["Points"] = np.random.randint(50, 100, size = 5)
df

  Name  Points
0    A      90
1    B      65
2    C      95
3    D      58
4    E      72

In [12]:
def chg(point):
    if point >= 90:
        return "A"
    elif point >= 80:
        return "B"
    elif point >= 70:
        return "C"
    elif point >= 60:
        return "D"
    elif point < 60:
        return "F"
    
df["Result"] = df["Points"].apply(chg)
df

  Name  Points Result
0    A      90      A
1    B      65      D
2    C      95      A
3    D      58      F
4    E      72      C

In [13]:
df.to_csv('foo.csv', index = False)
df_e = pd.read_csv('foo.csv')
df_e

  Name  Points Result
0    A      90      A
1    B      65      D
2    C      95      A
3    D      58      F
4    E      72      C