In [7]:
import os

In [8]:
os.makedirs("os_dir")

FileExistsError: [Errno 17] File exists: 'os_dir'

In [3]:
!ls

09_os.ipynb  10_thread.ipynb  11_regex.ipynb  os_dir  practice week3.ipynb

In [17]:
s = "data science"

with open("os_dir/test1.txt", "wt") as f:
    f.write(s)
    
with open("os_dir/test2.txt", "wt") as f:
    f.write(s)

with open("os_dir/test3.csv", "wt") as f:
    f.write(s)

In [18]:
!ls os_dir

test1.txt  test2.csv  test2.txt  test3.csv  test3.txt

In [19]:
file_list = os.listdir("os_dir")
print(file_list)

['test3.csv', 'test2.txt', 'test3.txt', 'test1.txt', 'test2.csv']

In [20]:
result_1 = [ file_name for file_name in file_list if file_name.endswith(".txt")]
print(result_1)

['test2.txt', 'test3.txt', 'test1.txt']

In [21]:
file_name = "test3.csv"
os.remove("os_dir/" + file_name)

In [22]:
!ls os_dir

test1.txt  test2.csv  test2.txt  test3.txt

In [24]:
os.removedirs("os_dir/")

OSError: [Errno 39] Directory not empty: 'os_dir/'

In [25]:
import threading

In [26]:
ls1 = []
ls2 = []

def threading_func_1(number=1000):
    for idx in range(number):
        ls1.append(idx)
        if idx % 100 == 0:
            print("ls1:", idx)
            

def threading_func_2(number=1000):
    for idx in range(number):
        ls2.append(idx)
        if idx % 100 == 0:
            print("ls2:", idx)

In [28]:
th1 = threading.Thread(target = threading_func_1, args=(1000, ))
th1.start()
th2 = threading.Thread(target = threading_func_2, args=(3000, ))
th2.start()

ls2:ls1: 0
0ls2:
 ls1:100
100ls2:
 ls1:200
200ls2:
 ls1:300
300ls2:
 ls1:400
400ls2:
 ls1:500
500ls2:
 ls1:600
600ls2:
 ls1:700
700ls2:
ls1:  800800

ls2:ls1:  900900

ls2: 1000
ls2: 1100
ls2: 1200
ls2: 1300
ls2: 1400
ls2: 1500
ls2: 1600
ls2: 1700
ls2: 1800
ls2: 1900
ls2: 2000
ls2: 2100
ls2: 2200
ls2: 2300
ls2: 2400
ls2: 2500
ls2: 2600
ls2: 2700
ls2: 2800
ls2: 2900

In [9]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(3, 3), dtype = int)
df

   0  1  2
0  0  0  0
1  1  0 -1
2  0  0  0

In [10]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [12]:
s= pd.Series([1,2,3,np.nan,6,8])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [16]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [43]:
nums = []
for num in range(0,5):
    nums.append(num)

dates = nums

In [42]:

df = pd.DataFrame(np.random.randn(6,4), index = dates, columns=list('ABCD'))
df

          A         B         C         D
0  0.446963 -0.840648  0.357483 -0.100988
1 -0.751317 -0.333507 -1.935449  1.333616
2  1.052957 -2.028601  1.750610  1.359043
3 -1.026633 -0.382530 -0.328835 -0.239852
4 -0.296651  0.008943 -0.219449 -1.671905
5 -0.522203 -1.029533  2.489659 -0.414211