In [1]:
import numpy as np
import pandas as pd

##### quiz_1
- 아래와 같은 데이터 프레임을 만드세요.
- 아래와 같이 데이터가 나오도록 코드를 추가하시면 됩니다.
- 점수는 50~100의 숫자가 랜덤으로 들어갑니다.
- 이름은 아래의 이름에서 랜덤으로 중복되지 않도록 10명을 뽑으세요
- names = ['Adam', 'Alan', 'Alex', 'Alvin', 'Andrew', 'Anthony', 'Arnold', 'Baldy', 'Baron', 'Billy', 'Boris', 'Bruno', 'Caley', 'Champ', 'Charlie', 'Clark']
- total 데이터를 나타내는 컬럼을 추가하세요
- get_grade 함수를 이용해서 total 데이터에 대한 grade 컬럼을 출력하세요
- 뽑은 데이터의 Grade로 오름차순 하세요

In [12]:
number = 10
names = ['Adam', 'Alan', 'Alex', 'Alvin', 'Andrew', 'Anthony', 'Arnold', 'Baldy', 
         'Baron', 'Billy', 'Boris', 'Bruno', 'Caley', 'Champ', 'Charlie', 'Clark']

df = pd.DataFrame(columns=["Name","Math","Science","English"])

# set data

# set total

# set grades
def get_grade(point):
    if point >= 270:
        return "A"
    elif point > 240:
        return "B"
    elif point >= 210:
        return "C"
    elif point >= 180:
        return "D"
    else:
        return "F"

# set sort

df = df.reset_index(drop=True)
df

      Name Math Science English Total Grade
0    Baldy   94      77      99   270     A
1    Boris   77      68      96   241     B
2     Alex   66      81      95   242     B
3    Bruno   96      76      94   266     B
4    Alvin   73      78      72   223     C
5  Charlie   73      84      75   232     C
6    Clark   76      75      84   235     C
7    Billy   54      58      73   185     D
8     Adam   70      72      53   195     D
9    Caley   61      72      73   206     D

In [11]:
number = 10
names = ['Adam', 'Alan', 'Alex', 'Alvin', 'Andrew', 'Anthony', 'Arnold', 'Baldy', 
         'Baron', 'Billy', 'Boris', 'Bruno', 'Caley', 'Champ', 'Charlie', 'Clark']
=
df = pd.DataFrame(columns = ['Name', 'Math', 'Science', 'English', 'Total'])
df['Name'] = np.random.rand(names, size = 10)
df['Math'] = np.random.randint(50, 100, size = 10)
df['Science'] = np.random.randint(50, 100, size = 10)
df['English'] = np.random.randint(50, 100, size = 10)
df['Total'] = df['Math'] + df['Science'] + df['English']

def get_grade(point):
    if point >= 270:
        return "A"
    elif point > 240:
        return "B"
    elif point >= 210:
        return "C"
    elif point >= 180:
        return "D"
    else:
        return "F"


df

TypeError: rand() got an unexpected keyword argument 'size'

In [15]:
number = 10
names = ['Adam', 'Alan', 'Alex', 'Alvin', 'Andrew', 'Anthony', 'Arnold', 'Baldy', 
         'Baron', 'Billy', 'Boris', 'Bruno', 'Caley', 'Champ', 'Charlie', 'Clark']

df = pd.DataFrame(columns = ['Name', 'Math', 'Science', 'English', 'Total'])

for _ in range(number):
    
    name = np.random.choice(names)
    while name in list(df['Name']):
        name = np.random.choice(names)
    
    df.loc[len(df)] = {
        
        'Name' : names,
        'Math' : np.random.randint(50, 100),
        'Science' : np.random.randint(50, 100),
        'English' : np.random.randint(50, 100),
    }
    
df['Total'] = df['Math'] + df['Science'] + df['English']

def get_grade(point):
    if point >= 270:
        return "A"
    elif point > 240:
        return "B"
    elif point >= 210:
        return "C"
    elif point >= 180:
        return "D"
    else:
        return "F"

df["Grade"] = df["Total"].apply(get_grade)

df

ValueError: cannot set a row with mismatched columns